ackcall==0.1.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cloudpickle==0.5.3
coverage==4.5.1
cycler==0.10.0
Cython==0.29.5
dask==0.18.2
decorator==4.3.0
Dijkstar==2.4.0
easydict==1.9
future==0.16.0
gym==0.10.5
h5py==2.8.0
idna==2.7
imageio==2.3.0
ipdb==0.11
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
kiwisolver==1.0.1
llvmlite==0.24.0
matplotlib==2.2.2
networkx==2.1
nltk==3.4.5
nose==1.3.7
numba==0.39.0
numpy==1.15.0
opencv-python==3.4.2.17
panda3d==1.10.0.dev1654
pandas==0.24.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==6.2.0
pkg-resources==0.0.0
pprint==0.1
prompt-toolkit==2.0.7
psutil==5.6.6
ptyprocess==0.6.0
pycparser==2.18
pyglet==1.3.2
Pygments==2.3.1
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
requests==2.20.0
resampy==0.2.1
scikit-image==0.14.0
scikit-learn==0.20.2
scipy==1.1.0
six==1.11.0
sknw==0.13
termcolor==1.1.0
toolz==0.9.0
torch==1.0.0
torchvision==0.2.1
tqdm==4.24.0
traitlets==4.3.2
urllib3==1.24.2
wcwidth==0.1.7
